@model GameTable.Models.Author

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Author</legend>

    <div class="display-label">
         Profile Picture
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.personalPic)
    </div>

    <div class="display-label">
         Name
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         Approval
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Approval)
    </div>

    <div class="display-field">
        Number of Posts
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Posts.Count)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index", "Author")
    </p>
}
