@model GameTable.Models.Author

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Author</legend>

    <div class="display-label">
         Profile Picture
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.personalPic)
    </div>
    <br />
    <div class="display-label">
         Name
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    <br />
    <div class="display-label">
         Approval Rating
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Approval)
    </div>
    <br />
    <div class="display-field">
        Number of Posts
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Posts.Count)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.AuthorID }) |
    @Html.ActionLink("Back to List", "Index", "Author")
</p>
